# dependencies
node_modules/

# builds
dist/
build/
coverage/

# dotenv environment files
.env
.env.*

# system files
.DS_Store
Thumbs.db

# IDE/editor config
.vscode/
.idea/

# logs
*.log

# test temp files
cypress/videos/
cypress/screenshots/